.answer-option {
    border-radius: 30px;
    background-color: theme('colors.primary.dark');
    color: theme('colors.white');
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 2rem;
    padding-top: 2.3rem;
    &__img {
        border-radius: 30px;
    }
    &:hover {
        background-color: #004266;
        transition: .1s;
    }
}